# Preprocessing The 1St Dataset

In [172]:
# ranmeing the file
import os

# os.rename("final_dataset_BFP .csv" , "First_datset.csv")

print("File Renamed")

File Renamed

In [173]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('First_datset.csv')

#remove the last tow columns
data = data.iloc[:, :-2]

# remove the fourth and fifth columns
data = data.drop(data.columns[[3, 4]], axis=1)

# make the last two columns the firts two columns and the others the last
cols = data.columns.tolist()
cols = cols[-2:] + cols[:-2]
data = data[cols]

# switch the position of the first two columns
cols = data.columns.tolist()
cols = [cols[1], cols[0]] + cols[2:]
data = data[cols]

# switch the position of the third And forth columns
cols = data.columns.tolist()
cols = cols[:2] + [cols[3], cols[2]] + cols[4:]
data = data[cols]

# rename the hight (m) column to height
data = data.rename(columns={'Hight (m)': 'Height'})

# rename the weight (kg) column to weight
data = data.rename(columns={'Weight (kg)': 'Weight'})

# Display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     5000 non-null   int64
 1   Gender  5000 non-null   object
 2   Height  5000 non-null   float64
 3   Weight  5000 non-null   float64
 4   BMI     5000 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 195.4+ KB

In [174]:
# adding a column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('First_datset_Processed.csv', index=False)

print("File Saved")

# Display the dataset
data.head(10)

File Saved

   Age  Gender    Height      Weight        BMI BMI Category
0   29    Male  1.820521   76.811975  23.175956       Normal
1   23    Male  1.945498   77.721154  20.534184       Normal
2   57  Female  1.742754   87.558726  28.828859   Overweight
3   41    Male  1.758318   89.473356  28.940017   Overweight
4   19    Male  1.722570   69.963943  23.578732       Normal
5   26  Female  1.498504   62.913627  28.017479   Overweight
6   33    Male  1.864738   53.598341  15.414007  Underweight
7   63  Female  1.743099  105.078061  34.583405        Obese
8   59  Female  1.818983   87.698358  26.505403   Overweight
9   65    Male  1.710349   74.798901  25.569717   Overweight

# Preprocessing of the 2Nd Dateset

In [175]:
# ranmeing the file
import os

# os.rename("gym_members_exercise_tracking_synthetic_data.csv" , "Second_datset.csv")

print("File Renamed")

File Renamed

In [176]:
import pandas as pd
import numpy as np
# Load the dataset
data = pd.read_csv('second_datset.csv')

# Display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1790 non-null   float64
 1   Gender                         1729 non-null   object
 2   Weight (kg)                    1778 non-null   float64
 3   Height (m)                     1774 non-null   float64
 4   Max_BPM                        1779 non-null   object
 5   Avg_BPM                        1770 non-null   float64
 6   Resting_BPM                    1781 non-null   float64
 7   Session_Duration (hours)       1777 non-null   float64
 8   Calories_Burned                1777 non-null   float64
 9   Workout_Type                   1739 non-null   object
 10  Fat_Percentage                 1784 non-null   float64
 11  Water_Intake (liters)          1776 non-null   float64
 12  Workout_Frequency (days/week)  1742 non-null   float64
 13  Experience_Level               1743 non-null   float64
 14  BMI                            1770 non-null   float64
dtypes: float64(12), object(3)
memory usage: 211.1+ KB

In [177]:
# remove all null rows in gender column
data = data.dropna(subset = ['Gender'])

# keep only columns that are needed ['Age','Gender','Height (m)','Weight (kg)']
data = data[['Age', 'Gender', 'Height (m)', 'Weight (kg)']]

# fill null values in the height column with the mean
data['Height (m)'] = data['Height (m)'].fillna(data['Height (m)'].mean())

# fill null values in the weight column with the mean
data['Weight (kg)'] = data['Weight (kg)'].fillna(data['Weight (kg)'].mean())

# fill null values in the age column with the mean
data['Age'] = data['Age'].fillna(data['Age'].mean())

# calculate the BMI
data['BMI'] = data['Weight (kg)'] / (data['Height (m)'] ** 2)

# rename the hight (m) column to height
data.rename(columns={'Height (m)': 'Height'}, inplace=True)

# rename the weight (kg) column to weight
data.rename(columns={'Weight (kg)': 'Weight'}, inplace=True)

# display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1729 entries, 0 to 1799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     1729 non-null   float64
 1   Gender  1729 non-null   object
 2   Height  1729 non-null   float64
 3   Weight  1729 non-null   float64
 4   BMI     1729 non-null   float64
dtypes: float64(4), object(1)
memory usage: 81.0+ KB

In [178]:
# adding a column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('Second_datset_Processed.csv', index=False)

print("File Saved")

# Display the dataset
data.head(10)

File Saved

    Age  Gender  Height  Weight        BMI BMI Category
0  34.0  Female    1.86    86.7  25.060701   Overweight
1  26.0  Female    1.83    84.7  25.291887   Overweight
2  22.0    Male    1.85    64.8  18.933528       Normal
3  54.0  Female    1.82    75.3  22.732762       Normal
4  34.0  Female    1.74    52.8  17.439556  Underweight
5  38.0  Female    1.58    53.0  21.230572       Normal
6  44.0  Female    1.81    46.5  14.193706  Underweight
7  50.0  Female    1.63    88.5  33.309496        Obese
8  18.0  Female    1.54    82.9  34.955304        Obese
9  34.0  Female    1.74    65.9  21.766416       Normal

# Preprocessing the 3Rd dataset

In [179]:
import os

# rename the file
# os.rename("workout_fitness_tracker_data.csv" , "Third_datset.csv")

print("File Renamed")

File Renamed

In [180]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('Third_datset.csv')

# remove the last 15 columns and the first column
data = data.iloc[:, 1:-15]

# rename the hight (m) column to height
data = data.rename(columns={'Height (cm)': 'Height'})

# change the values in the hight column to meters
data['Height'] = data['Height'] / 100

# rename the weight (kg) column to weight
data = data.rename(columns={'Weight (kg)': 'Weight'})

# calculate the BMI
data['BMI'] = data['Weight'] / ((data['Height']) ** 2)

# display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     10000 non-null  int64
 1   Gender  10000 non-null  object
 2   Height  10000 non-null  float64
 3   Weight  10000 non-null  int64
 4   BMI     10000 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 390.8+ KB

In [181]:
# adding a column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('Third_datset_Processed.csv', index=False)

print("File Saved")

# Display the dataset
data.head(10)

File Saved

   Age  Gender  Height  Weight        BMI BMI Category
0   39    Male    1.75      99  32.326531        Obese
1   36   Other    1.57     112  45.437949        Obese
2   25  Female    1.80      66  20.370370       Normal
3   56    Male    1.54      89  37.527408        Obese
4   53   Other    1.94      59  15.676480  Underweight
5   33    Male    1.62      81  30.864198        Obese
6   48  Female    1.51      82  35.963335        Obese
7   59    Male    1.89      61  17.076790  Underweight
8   37   Other    1.82     113  34.114237        Obese
9   45  Female    1.98      74  18.875625       Normal

# Preprocessing the 4Th dataset

In [182]:
import os

# rename the file
# os.rename("bmi_data.csv" , "Fourth_datset.csv")

print("File Renamed")

File Renamed

In [183]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('Fourth_datset.csv')

# reomve the BMI column
data = data.drop('BMI', axis=1)

# switch the position of the first two columns
cols = data.columns.tolist()
cols = [cols[1], cols[0]] + cols[2:]
data = data[cols]

# cahnge the values from inches to meters in the height column
data['Height(Inches)'] = data['Height(Inches)'] * 0.0254

# change the values from pounds to kg in the weight column
data['Weight(Pounds)'] = data['Weight(Pounds)'] * 0.453592

# rename the hight (Inches) column to height
data = data.rename(columns={'Height(Inches)': 'Height'})

# rename the weight (Pounds) column to weight
data = data.rename(columns={'Weight(Pounds)': 'Weight'})

# fill null values in the height column with the mean
data['Height'] = data['Height'].fillna(data['Height'].mean())

# fill null values in the weight column with the mean
data['Weight'] = data['Weight'].fillna(data['Weight'].mean())

# calculate the BMI
data['BMI'] = data['Weight'] / (data['Height'] ** 2)

# rename the Sex column to Gender
data = data.rename(columns={'Sex' : 'Gender'})

#display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     25000 non-null  int64
 1   Gender  25000 non-null  object
 2   Height  25000 non-null  float64
 3   Weight  25000 non-null  float64
 4   BMI     25000 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 976.7+ KB

In [184]:
# adding a column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('Fourth_datset_Processed.csv', index=False)

print("File Saved")

# Display the dataset
data.head(10)

File Saved

   Age  Gender    Height     Weight        BMI BMI Category
0   21  Female  1.670896  51.252494  18.357609  Underweight
1   35  Female  1.816486  61.909547  18.762615       Normal
2   27  Female  1.762728  69.411778  22.338940       Normal
3   24    Male  1.732702  64.562199  21.504569       Normal
4   18  Female  1.721810  65.452010  22.077625       Normal
5   22  Female  1.744925  55.928982  18.368907  Underweight
6   35    Male  1.772972  64.180864  20.417469       Normal
7   19    Male  1.778374  61.898208  19.571852       Normal
8   28  Female  1.724727  50.971176  17.134987  Underweight
9   25    Male  1.696272  54.733677  19.022328       Normal

# Preprocessing the 5Th Dataset

In [185]:
import os

# os.rename("ObesityDataSet_raw_and_data_sinthetic.csv" , "Fifth_datset.csv")

print("File Renamed")

File Renamed

In [186]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('Fifth_datset.csv')

# Display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   float64
 1   Gender                          2111 non-null   object
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   CALC                            2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   SCC                             2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  family_history_with_overweight  2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CAEC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [187]:
# only keep the first 4 columns
data = data.iloc[:, :4]

#save the dataset
data.to_csv('Fifth_datset_Processed.csv', index=False)
print("File Saved")

# Display the dataset
data.head(10)

File Saved

    Age  Gender  Height  Weight
0  21.0  Female    1.62    64.0
1  21.0  Female    1.52    56.0
2  23.0    Male    1.80    77.0
3  27.0    Male    1.80    87.0
4  22.0    Male    1.78    89.8
5  29.0    Male    1.62    53.0
6  23.0  Female    1.50    55.0
7  22.0    Male    1.64    53.0
8  24.0    Male    1.78    64.0
9  22.0    Male    1.72    68.0

In [188]:
# calculate the BMI
data['BMI'] = data['Weight'] / (data['Height'] ** 2)

# Add the BMI Category column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('Fifth_datset_Processed.csv', index=False)
print("File Saved")

# Display the dataset
data.info()

File Saved
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           2111 non-null   float64
 1   Gender        2111 non-null   object
 2   Height        2111 non-null   float64
 3   Weight        2111 non-null   float64
 4   BMI           2111 non-null   float64
 5   BMI Category  2111 non-null   object
dtypes: float64(4), object(2)
memory usage: 99.1+ KB

# preprocessing the 6Th Dataset

In [189]:
import os

# rename the file
# os.rename("exercise_dataset.csv" , "Sixth_datset.csv")

print("File Renamed")

File Renamed

In [190]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('Sixth_datset.csv')

# rmove the first 4 columns and the last 2 columns
data = data.iloc[:, 4:-2]

# remove the column number 3, 4
data = data.drop(data.columns[4], axis=1)
data = data.drop(data.columns[3], axis=1)

# Display the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Actual Weight  3864 non-null   float64
 1   Age            3864 non-null   int64
 2   Gender         3864 non-null   object
 3   BMI            3864 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 120.9+ KB

In [191]:
# make the first column the fourth
cols = data.columns.tolist()
cols = cols[1:3] + [cols[0]] + cols[3:]
data = data[cols]

# raname Acrual Wheight to Weight
data = data.rename(columns={'Actual Weight': 'Weight'})

# Display the dataset to verify the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     3864 non-null   int64
 1   Gender  3864 non-null   object
 2   Weight  3864 non-null   float64
 3   BMI     3864 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 120.9+ KB

In [192]:
# calculate the Highest from Bmi and Weight
data['Height'] = np.sqrt(data['Weight'] / data['BMI'])

# convert the height to meters
data['Height'] = data['Height'] / 100

#switch the position of the last two columns
cols = data.columns.tolist()
cols = cols[:-2] + [cols[-1], cols[-2]]
data = data[cols]

#switch the position of the third and fourth columns
cols = data.columns.tolist()
cols = cols[:2] + [cols[3], cols[2]] + cols[4:]
data = data[cols]

In [193]:
# Add the BMI Category column and fill it based on the bmi if its less than 18.5 then the person is underweight if its between 18.5 and 24.9 then the person is normal if its between 25 and 29.9 then the person is overweight if its more than 30 then the person is obese
data['BMI Category'] = np.where(data['BMI'] < 18.5, 'Underweight', np.where(data['BMI'] < 24.9, 'Normal', np.where(data['BMI'] < 29.9, 'Overweight', 'Obese')))

#save the dataset
data.to_csv('Sixth_datset_Processed.csv', index=False)

print("File Saved")

# Display the dataset
data.head(10)

File Saved

   Age  Gender    Height     Weight        BMI BMI Category
0   45    Male  0.018090  96.301115  29.426275   Overweight
1   25    Male  0.016943  61.104668  21.286346       Normal
2   20    Male  0.016038  71.766724  27.899592   Overweight
3   33    Male  0.015685  82.984456  33.729552        Obese
4   29  Female  0.019178  85.643174  23.286113       Normal
5   60  Female  0.015236  80.596592  34.719336        Obese
6   18    Male  0.013367  61.815386  34.594641        Obese
7   42    Male  0.016877  62.806489  22.050103       Normal
8   49    Male  0.013275  54.537688  30.948847        Obese
9   41    Male  0.017665  97.436833  31.224045        Obese

# Merging the six datasets in Onefile

In [194]:
import pandas as pd
# merge the four datasets
data = pd.concat([pd.read_csv('First_datset_Processed.csv'), pd.read_csv('Second_datset_Processed.csv'), 
                  pd.read_csv('Third_datset_Processed.csv'), pd.read_csv('Fourth_datset_Processed.csv'), 
                  pd.read_csv('Fifth_datset_Processed.csv'), pd.read_csv('Sixth_datset_Processed.csv')], 
                  ignore_index=True)
# save the merged dataset
data.to_csv('Final_dataset.csv', index=False)

print("File Saved")

# Display the dataset
data.info()

File Saved
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47704 entries, 0 to 47703
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           47704 non-null  float64
 1   Gender        47704 non-null  object
 2   Height        47704 non-null  float64
 3   Weight        47704 non-null  float64
 4   BMI           47704 non-null  float64
 5   BMI Category  47704 non-null  object
dtypes: float64(4), object(2)
memory usage: 2.2+ MB

In [195]:
# Adding a random 'Coverage Date' column (without sorting)
import random
from datetime import datetime, timedelta
import pandas as pd

# Function to generate random dates (without time)
def random_date(start, end):
    date = start + timedelta(
        days=random.randint(0, (end - start).days)
    )
    return date.date()  # Return just the date portion

# Generate random dates for each row
start_date = datetime(2021, 1, 5)  # Adjust the start date as needed
end_date = datetime(2025, 3, 20)  # Adjust the end date as needed

# Generate random dates for each row (date only)
data['Coverage Date'] = [random_date(start_date, end_date) for _ in range(len(data))]

# Convert the 'Coverage Date' column to datetime type (date only)
data['Coverage Date'] = pd.to_datetime(data['Coverage Date']).dt.date

# (No sorting applied - dates remain in random order)

# Save the updated dataset
data.to_csv('Final_dataset_with_coverage_date.csv', index=False)

print("Random (unsorted) Coverage Date column added and dataset saved.")

# Display the first few rows of the updated dataset
print(data[['Coverage Date'] + [col for col in data.columns if col != 'Coverage Date']].head())

# Display dataset info
data.info()

Random (unsorted) Coverage Date column added and dataset saved.
  Coverage Date   Age  Gender    Height     Weight        BMI BMI Category
0    2025-01-18  29.0    Male  1.820521  76.811975  23.175956       Normal
1    2021-03-06  23.0    Male  1.945498  77.721154  20.534184       Normal
2    2023-06-09  57.0  Female  1.742754  87.558726  28.828859   Overweight
3    2022-10-21  41.0    Male  1.758318  89.473356  28.940017   Overweight
4    2024-04-02  19.0    Male  1.722570  69.963943  23.578732       Normal
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47704 entries, 0 to 47703
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            47704 non-null  float64
 1   Gender         47704 non-null  object
 2   Height         47704 non-null  float64
 3   Weight         47704 non-null  float64
 4   BMI            47704 non-null  float64
 5   BMI Category   47704 non-null  object
 6   Coverage Date  47704 non-null  object
dtypes: float64(4), object(3)
memory usage: 2.5+ MB

In [198]:
# Display the dataset
pd.set_option('display.max_rows', None)


data.head(50)

     Age  Gender    Height      Weight        BMI BMI Category Coverage Date
0   29.0    Male  1.820521   76.811975  23.175956       Normal    2025-01-18
1   23.0    Male  1.945498   77.721154  20.534184       Normal    2021-03-06
2   57.0  Female  1.742754   87.558726  28.828859   Overweight    2023-06-09
3   41.0    Male  1.758318   89.473356  28.940017   Overweight    2022-10-21
4   19.0    Male  1.722570   69.963943  23.578732       Normal    2024-04-02
5   26.0  Female  1.498504   62.913627  28.017479   Overweight    2022-03-26
6   33.0    Male  1.864738   53.598341  15.414007  Underweight    2025-03-17
7   63.0  Female  1.743099  105.078061  34.583405        Obese    2023-07-16
8   59.0  Female  1.818983   87.698358  26.505403   Overweight    2023-05-03
9   65.0    Male  1.710349   74.798901  25.569717   Overweight    2022-06-22
10  55.0  Female  1.469578   67.399656  31.208463        Obese    2021-05-06
11  43.0    Male  1.742248   88.128233  29.033226   Overweight    2022-09-22
12  36.0  Female  1.711496   68.590039  23.415828       Normal    2024-10-26
13  51.0  Female  1.691677   85.609708  29.914924        Obese    2021-11-06
14  35.0    Male  1.928490   93.579706  25.162109   Overweight    2023-07-30
15  27.0  Female  1.611668   66.839830  25.732633   Overweight    2024-10-02
16  62.0    Male  1.870009   79.174793  22.641212       Normal    2021-03-09
17  62.0    Male  1.866383   78.522246  22.541937       Normal    2021-05-02
18  41.0  Female  1.796554   80.442587  24.923301   Overweight    2022-01-05
19  23.0  Female  1.739278   81.130667  26.819269   Overweight    2024-11-23
20  56.0    Male  1.977931   78.236407  19.997996       Normal    2025-02-24
21  60.0    Male  1.899318   94.437799  26.178842   Overweight    2023-11-13
22  58.0  Female  1.583891   71.926839  28.670835   Overweight    2024-02-23
23  59.0  Female  1.696172   96.762413  33.633112        Obese    2022-01-17
24  34.0    Male  1.724531  103.171326  34.691002        Obese    2021-04-01
25  59.0  Female  1.629090   90.728242  34.186329        Obese    2024-05-11
26  21.0    Male  1.893904  101.496552  28.296659   Overweight    2021-07-20
27  32.0    Male  1.924377   98.562774  26.615379   Overweight    2021-04-03
28  59.0    Male  1.905363   78.366727  21.586213       Normal    2024-09-03
29  47.0    Male  1.707368   97.979244  33.610881        Obese    2021-02-11
30  43.0  Female  1.740334   76.818724  25.363077   Overweight    2024-11-21
31  58.0  Female  1.732134  100.035661  33.342030        Obese    2024-11-01
32  46.0  Female  1.796084   91.201453  28.271460   Overweight    2021-01-26
33  47.0    Male  1.809283  104.070694  31.791813        Obese    2021-02-22
34  39.0  Female  1.824377   61.150674  18.372658  Underweight    2022-11-22
35  48.0    Male  1.970841  107.695916  27.726555   Overweight    2023-06-28
36  33.0    Male  1.734882   57.569687  19.127310       Normal    2024-07-13
37  32.0    Male  1.970467   88.415728  22.771479       Normal    2022-04-13
38  62.0    Male  1.932349   73.812314  19.767766       Normal    2022-06-20
39  35.0  Female  1.755242  104.437147  33.898538        Obese    2024-06-20
40  28.0  Female  1.585322   58.063263  23.102910       Normal    2024-04-20
41  22.0  Female  1.798792   99.369987  30.710965        Obese    2023-04-05
42  63.0  Female  1.477080   67.203068  30.802172        Obese    2021-02-17
43  63.0    Male  1.931544   96.992023  25.997205   Overweight    2022-10-13
44  42.0    Male  1.947247   71.513078  18.860074       Normal    2021-10-28
45  51.0  Female  1.746749   73.530592  24.099459       Normal    2021-04-16
46  62.0  Female  1.457044   71.501121  33.679648        Obese    2024-01-06
47  43.0    Male  1.946180   65.383424  17.262412  Underweight    2023-12-06
48  31.0  Female  1.676248   85.659704  30.485974        Obese    2024-08-20
49  23.0  Female  1.708918   81.833075  28.021185   Overweight    2021-10-12

# devide the final dataset to make the fact tavle and decsion tree

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('Final_dataset.csv')

# Divide the dataset into 3 parts
data1 = data.iloc[:len(data)//3]
data2 = data.iloc[len(data)//3:2*len(data)//3]
data3 = data.iloc[2*len(data)//3:]

# Save as CSV files
data1.to_csv('First_part.csv', index=False)
print("First part saved as CSV.")

data2.to_csv('Second_part.csv', index=False)
print("Second part saved as CSV.")

data3.to_csv('Third_part.csv', index=False)
print("Third part saved as CSV.")

First part saved as CSV.
Second part saved as CSV.
Third part saved as CSV.

# Converting to sql

In [1]:
import pandas as pd

# Input CSV file
csv_file = "First_part.csv"
# Output SQL file
sql_file = "For the mssql//first_part.sql"
# Target table name in SQL
table_name = "First_third"

# Read CSV into a DataFrame
df = pd.read_csv(csv_file)

# Generate SQL INSERT statements
with open(sql_file, 'w') as f:
    for index, row in df.iterrows():
        columns = ', '.join([f'"{col}"' for col in df.columns])
        values = ', '.join([f"'{str(val).replace("'", "''")}'" if pd.notna(val) else 'NULL' for val in row])
        f.write(f"INSERT INTO {table_name} ({columns}) VALUES ({values});\n")

print(f"SQL file saved as: {sql_file}")

SQL file saved as: For the mssql//first_part.sql